@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 128, 176, 176;
  --background-end-rgb: 47, 99, 47;
}



body {
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
